*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    position: relative;
    overflow: hidden;
}

#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:#f1f1f1;
}

canvas{
    position: relative;
    z-index: 999;
    max-width: 100vw;
    max-height: 100vh;
}

#loop{
    position: absolute;
    top: 30%;
    height: 25%;
    width: 100%;
    font-size: 80px;
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
    
}

#loop>h1{
    font-weight: 500;
    animation: sliding 10s linear 0s infinite;
}

#loop>h1>span{
    -webkit-text-stroke: 1.2px #000;
    color: transparent;
}

#page p{
    position: absolute;
    top: 58%;
    left: 2%;
    font-weight: 400;
    font-size: 1rem;
    color: #7c7c7c;
}

#page h4{
    position: absolute;
    top: 70%;
    left: 25%;
    color: #7c7c7c;
}

#page1 .left-box{
    position: absolute;
    top: 30%;
    left: 15%;
}

.left-box .left-para{
    color: #7c7c7c;
    margin-bottom: 1rem;
}

.left-box .left-heading{
    font-family: 'Courier New', Courier, monospace;

}

#page1 .right-box{
    position: absolute;
    top: 70%;
    left: 75%;
}

.right-box .right-heading{
     font-family: 'Courier New', Courier, monospace;
     margin-bottom: 1.2rem;
    }

.right-box .right-para{
    text-align: end;
    color: #7c7c7c;
}

#page2 .left-box{
    position: absolute;
    top: 30%;
    left: 15%;
}

#page2 .right-box{
    position: absolute;
    top: 65%;
    left: 58%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#page3 .left-box{
    position: absolute;
    top: 50%;
    left: 3%;
}

#page3 .left-box .left-para{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#page3 .right-box{
    position: absolute;
    top: 60%;
    left: 75%;
}

#page3 .right-box .right-para{
    margin-bottom: 1rem;
}

#page3 .right-box .right-heading{
    text-align: end;
}
@keyframes sliding{
    0%{
        transform: translate(0%);
    }
    100%{
        transform: translate(-195%);
    }
}

#nav{
    height: 7%;
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: red;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background: transparent;
}

#nav .nav-name{
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

#nav .nav-para{
    font-weight: 500;
}

.nav-para .nav-btn{
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
}

canvas{
    z-index: 999;
}